body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.dropzone {
  height: 15em;
  border: 2px dashed #007bff !important;
  width: 75%; }

.upload-area {
  width: 70%;
  height: 200px;
  border: 2px solid lightgray;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  overflow: auto; }

.upload-area:hover {
  cursor: pointer; }

.upload-area h1 {
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  line-height: 50px;
  color: darkslategray; }

#file {
  display: none; }

/* Thumbnail */
.thumbnail {
  width: 80px;
  height: 80px;
  padding: 2px;
  border: 2px solid lightgray;
  border-radius: 3px;
  float: left; }

.size {
  font-size: 12px; }
